<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <session-config>
    <session-timeout>90</session-timeout>
  </session-config>
  <filter>
    <filter-name>httpFilter</filter-name>
    <filter-class>cn.chuanz.util.HttpDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>httpFilter</filter-name>
    <url-pattern>*.e</url-pattern>
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>/index.e</welcome-file>
  </welcome-file-list>
</web-app>